main {
    margin: 1rem 3rem 6rem 3rem;
}

.btn-styles {
    padding: 0.5rem 2rem;
    margin-left: 0.8rem;
}

.div-main {
    margin-left: 10%;
    margin-top: 2rem;
}

h3 {
    margin-bottom: 3rem;
}

.row-linha {
    display: flex;
    flex-flow: row wrap;
}

.div1 {
    width: 50%;
}


